/*
1.Posicionamiento
2. Modelo de caja (Box-model)
3. Tipografia
4. Visuales
5. Otros
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    /* 'Inter', sans-serif; */
    
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 34.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 6rem;
    /* align-self: center; sirve para poder centrar a un elemento que tenga un contenedor con display flex */
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 20.8rem;
    margin-top: 5rem;
}
.header__title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header__title-container p {
    color: var(--off-white);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 32px;
}
.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 50px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* sombras */
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span {
    display: inline-block;
    background: url('https://i.ibb.co/SKfRCgr/down-arrow.png');
    margin-left: 10px;
    height: 8px;
    width: 13px;
}
/* main */
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: #E5E5E5;
}
/* creacion de seccion de tablas */
.main__exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main__exchange-container .backgraundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto; /*centrar el contenedor */
    margin-bottom: 50px;
    background-image: url('https://i.ibb.co/VLc350F/Bitcoin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main__exchange-container_title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main__exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main__exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
/* creacion de scroll de tablas  */
.main__tables_container{
    display: flex; /*Esto hace que los elementos hijos se acomoden uno a lado del otro, generando un scroll*/
    align-items: baseline;
    gap: 70px; /*Esto hace que los elementos hijos se separen*/
    height: 380px;
    overflow-x: scroll;/*Con esta propiedad hacemos que el comportamiento del contenedor contenga sus elementos haciendo que el scroll solo afecte al contenedor  */
    overscroll-behavior-x: contain;/*Establece lo que hace un navegador cuando alcanza el límite de un área de desplazamiento*/
    scroll-snap-type: x proximity;
}
/* estilos de las tablas */
.main__currency__table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.main__currency__table .currency__table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    font-family: "DM Sans", sans-serif;
}
.currency__table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency__table__container table{
    width: 100%;
    height: 100%;
}
.currency__table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency__table__container .table__top-lef{
    border-radius: 15px 0 0 0;
}
.currency__table__container .table__top-rigth{
    border-radius: 0 15px 0 0;
}
.currency__table__container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency__table__container .table__bottom-rigth{
    border-radius: 0 0 15px 0;
}
.currency__table__container .table--rigth{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
    text-align: center;
}
.currency__table__container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('https://i.ibb.co/qsc9R2G/trending-down.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency__table__container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('https://i.ibb.co/9Wt1n2C/trending-up.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    width: max-content;
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
/* segunda tabla */
.main__commision__table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    scroll-snap-type: center;
}
.main__commision__table .commision__table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-top: 10px;
    color: var(--secondary-blue);
    font-family: "DM Sans", sans-serif;
}

.commision-table--date{
    width: max-content;
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.commision-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
/* seccion de beneficios */
.main__product__detail{
    position: relative; 
    /* esl position relative permite que podamos colocar el elemento de la patata de forma flotante(absolute) ya que va a buscar a su elemento padre que es relative */
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
/* logotipo papa */
.product-detail__patata__logo{
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    width: 4rem;
    height: 2.5rem;
    background-image: url('https://i.ibb.co/4tL16BQ/batata.png');
}
/* left(atributo): Alinea un elemento con referencia al lado izquierdo de nuestro contenedor.

calc()(función): Nos permite realizar cálculos para determinar valores de propiedades CSS.

50%(parámetro): Representa la mitad del ancho del contenedor(para 320px, el 50% serían = 160px), lo cual alineará nuestro elemento 160px de izquierda(left) a derecha.

20px: Representan la mitad del ancho(width) de nuestro elemento, esto se hace con la finalidad de poder posicionarlo en el centro de nuestro contenedor. */
.product-detail__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail__title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail__title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* seccion de tarjetas o articulos */
.product-detail__card{
    width: 90%;
    min-width: 288px;
    max-width: 450px;
    min-height: 15rem;
    /* al solo poner un heigth estamos limitando la altura pero al poner el min-heigtht estamos diciendole que la tarjeta crezca conforme al contenido y solo delimitando el minimo de la altura */
    margin: 15px auto;
    padding: 1.5rem;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
/* estilos de iconos */
.product-detail__card .icon-card{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover; 
    /* el cover funciona para que se ve la imagen aun a pesar de que sea mas grande de las dimensiones colocadas */
    background-position: center;
    background-repeat: no-repeat;
}
.clock{
    background-image: url('https://i.ibb.co/GkQhkP0/clock.png');
}
.eye{
    background-image: url('https://i.ibb.co/jvJymvS/eye.png');
}
.dolar{
    background-image: url('https://i.ibb.co/bRxGPwX/dollar-sign.png');
}
.check-circle{
    background-image: url('https://i.ibb.co/z7pL9B0/check-circle.png');
}
/* seccion de contenido titulo y cuerpo */
.product__card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product__cart-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
/* seccion comodin */
.bitcoin__img__container{
    width: 100%;
    min-width: 310px;
    height: 60vh;
    background-image: url('https://i.ibb.co/3m8dy6m/bitcoinbaby2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin__img__container h2{
    padding-top: 38px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}
/* seccion de planes */
.main-plans__container{
    width: 100%;
    min-width: 310px;
    background-color: #E5E5E5;
    padding-bottom: 70px;
    text-align: center;
}
/* creacion del scroll  */
.plans-container--slider{
    display: flex; /*Esto hace que los elementos hijos se acomoden uno a lado del otro, generando un scroll*/
    gap: 20px; /*Esto hace que los elementos hijos se separen*/
    height: 316px;
    overflow-x: scroll;/*Con esta propiedad hacemos que el comportamiento del contenedor contenga sus elementos haciendo que el scroll solo afecte al contenedor  */
    overscroll-behavior-x: contain;/*Establece lo que hace un navegador cuando alcanza el límite de un área de desplazamiento*/
    scroll-snap-type: x proximity;
}
/* agregar decoracion al scroll */
.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}
/* seccion del titulo y parrafo */
.plans__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.plans__title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black)
}
.plans__title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    /*  line-height es el interlineado de párrafo (no el alto de fuente). Se usa para establecer la distancia entre líneas de texto. */
    color: #757575;
    padding-top: 30px;
}
/* estilos de las tarjetas */
.plans-container__card{
    position: relative;
    scroll-snap-align: center;
    /*cuando hagas scroll te lleve al centro del elemento
    También le agregamos una regla a los elementos hijos para darle un efecto al deplazmiento, el navegador nos ayuda a centrar el elemento al hacer scroll*/
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0px;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
/* parrafo flotante */
.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;
    font-family: 'Inter', sans-serif;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
/* titulo y contenido de la tarjetas */
.plan-card__title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card__price{
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}
.plan-card__price sup{
    position: absolute;
    top: -7px;
    left: calc(50% - 40px);
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card__saving{
    font-size: 1.2rem;
    color: #757575;
    font-family: 'Inter', sans-serif;
}
/* boton */
.plan-card__ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: "DM Sans", sans-serif;
    color: var(--black);
}

.plan-card__ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://i.ibb.co/YjjM6Dp/orange-right-arrow.png');
    vertical-align: text-bottom;
}