/* 
1.Posicionamiento
2. Modelo de caja (Box-model)
3. Tipografia
4. Visuales
5. Otros
*/
:root{
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    /* 'Inter', sans-serif; */
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 34.4rem;
    text-align: center;
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 6rem;
    /* align-self: center; sirve para poder centrar a un elemento que tenga un contenedor con display flex */
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 20.8rem;
    margin-top: 5rem;
}
